body {
  background-color: pink;
}

header {
  border: solid black 2px;
  min-height: 10%;
}

nav {
  min-height: 700px;
  width: 25%;
  border: solid black 2px;
  float: left;
}

main {
  min-height: 700px;
  width: 73%;
  border: solid black 2px;
  float: right;
}
