body {
  background-color: pink;
}

header {
  border: solid black 2px;
  min-height: 10%;
}

nav {
  min-height: 700px;
  width: 25%;
  border: solid black 2px;
  float: left;
}

main {
  min-height: 700px;
  width: 73%;
  border: solid black 2px;
  float: right;
}

nav i{   
    -webkit-transition: -webkit-transform 1s linear;
    -ms-transition: -ms-transform 1s linear;
    transition: transform 1s linear;
}
nav i:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
